<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:fragment="titulo">
        <title>Sobre Nosotros - Snap Labs</title>
    </th:block>
    <th:block th:fragment="css">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/about.css}">
    </th:block>
    <script th:fragment="js" th:remove="tag"></script>
</head>
<body>
    <main th:fragment="contenido" class="contenido">
        <h1 class="titulo">Sobre la Web</h1>
        <section class="info">
            <p class="texto">
              <strong>Snap Labs</strong> es una plataforma creada por fans con el objetivo de mejorar la experiencia de los jugadores de <em>Marvel Snap</em>. Aquí podrás explorar todas las cartas del juego, crear y guardar tus propios mazos y compartirlos con la comunidad.
            </p>
            <p class="texto">
              Además, puedes descubrir los mazos más populares del meta actual, ver qué combinaciones están funcionando mejor y subir tus propias variantes visuales de cartas, para que otros usuarios puedan darles like, compartirlas o inspirarse en ellas.
            </p>
            <p class="texto">
              Este sitio fue desarrollado como un proyecto personal sin ningún tipo de afiliación oficial con <strong>Marvel</strong>, <strong>Nuverse</strong> o <strong>Second Dinner</strong>. Todo el contenido e imágenes relacionadas con Marvel Snap pertenecen a sus respectivos propietarios.
            </p>
            <p class="texto">
              El objetivo es fomentar una comunidad creativa y colaborativa que disfrute compartiendo estrategias, arte y mazos sin ánimo de lucro. Si te gusta lo que ves, ¡no dudes en compartir la web o dejar tu feedback!
            </p>
            <p class="texto">
              ¡Gracias por visitar <strong>Snap Labs</strong>!
            </p>
        </section>
    </main>
</body>
</html>