<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:fragment="titulo">
        <title th:text="${usuario.username} + ' - Snap Labs'"></title>
    </th:block>
    <th:block th:fragment="css">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/mazos_perfil.css}">
    </th:block>
    <script th:fragment="js" th:src="@{/js/tabla.js}" type="module" defer></script>
</head>
<body>
    <main th:fragment="contenido" class="contenido">
        <aside class="lateral">
            <nav>
                <ul class="menuBoton">
                    <li>
                        <a th:href="@{/usuario/{id}(id=${usuario.uuid})}">
                            <button class="campo botonPerfil">Perfil</button>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/usuario/{id}/mazos(id=${usuario.uuid})}">
                          <button class="campo botonPerfil">Mazos creados</button>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/usuario/{id}/favoritos(id=${usuario.uuid})}">
                            <button class="campo botonPerfil" style="background-color: #643AC9; color: #F5F1FB;">
                              Mazos favoritos
                            </button>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        <section class="mazos">
            <table class="tabla">
                <thead>
                  <tr>
                    <th>Nombre del Mazo</th>
                    <th>Autor</th>
                    <th>Publicado</th>
                    <th>Cartas</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="mazo : ${listaFavoritos}">
                      <td>
                          <a th:href="@{/mazos/{id}(id=${mazo.id})}">
                              <p th:text="${mazo.nombre}"></p>
                          </a>
                      </td>
                      <td>
                          <p th:text="${mazo.usuario.username}"></p>
                      </td>
                      <td>
                          <p th:text="${mazo.tiempoTranscurrido}"></p>
                      </td>
                      <td class="rowCartas">
                          <div class="gridCartasTabla">
                              <div th:each="carta : ${mazo.cartas}" th:data-src="${carta.imagen}" th:data-desc="${carta.descripcion}">
                                  <img th:src="${carta.imagen}" alt="Arre demo, esto non furrula" class="imagen">
                              </div>
                          </div>
                      </td>
                  </tr>
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>