<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:fragment="titulo">
        <title>Snap Labs - Marvel Snap Mazos, Cartas y Variantes</title>
    </th:block>
    <th:block th:fragment="css">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/index.css}">
    </th:block>
    <script th:fragment="js" th:remove="tag"></script>
</head>
<body>
    <main th:fragment="contenido" class="contenido">
        <section class="titulo">
            <p>Bienvenido a Snap Labs, un espacio donde compartir tu conocimiento y arte sobre Marvel Snap</p>
        </section>
        <nav>
            <ul class="secciones">
                <a th:href="@{/}" class="caja1">
                    <li class="caja">Mazos de la Comunidad</li>
                </a>
                <a th:href="@{/}" class="caja2">
                    <li class="caja">Mazos Meta</li>
                </a>
                <a th:href="@{/}" class="caja3">
                    <li class="caja">Laboratorio</li>
                </a>
                <a th:href="@{/}" class="caja4">
                    <li class="caja">Variantes de la Comunidad</li>
                </a>
                <a th:href="@{/cartas}" class="caja5">
                    <li class="caja">Lista de Cartas</li>
                </a>
            </ul>
        </nav>
    </main>
</body>
</html>