<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:fragment="titulo">
        <title>Mazos de la Comunidad - Marvel Snap Mazos, Cartas y Variantes</title>
    </th:block>
    <th:block th:fragment="css">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/menu_mazos.css}">
    </th:block>
    <script th:fragment="js" th:src="@{/js/mazo.js}" defer></script>
</head>
<body>
    <main th:fragment="contenido" class="contenido">
        <section class="titulo">
            <p>Mazos publicados por la Comunidad</p>
        </section>
        <section class="filtros">
            <label for="fecha">Ordenar por fecha:</label>
            <select id="fecha">
                <option selected disabled>Orden:</option>
                <option value="asc">ASC</option>
                <option value="desc">DESC</option>
            </select>
            <label for="habilidades">Filtrar por Arquetipo:</label>
            <div id="habilidades">
                <input type="checkbox" name="arquetipo" value="destroy" id="destroy"/>
                <label for="destroy">Destruir</label>
                <input type="checkbox" name="arquetipo" value="discard" id="discard"/>
                <label for="discard">Descartar</label>
                <input type="checkbox" name="arquetipo" value="move" id="move"/>
                <label for="move">Movimiento</label>
                <input type="checkbox" name="arquetipo" value="reveal" id="reveal"/>
                <label for="reveal">Al Revelarse</label>
                <input type="checkbox" name="arquetipo" value="ongoing" id="ongoing"/>
                <label for="ongoing">Continuo</label>
            </div>
        </section>
        <section class="gridMazos">
            <div th:each="mazo : ${listaMazos}" th:if="${mazo.publico}" th:data-arquetipo="${mazo.arquetipo}" th:data-fecha="${mazo.fechaCreacion}"  class="mazo">
                <a th:href="@{/mazos/{id}(id=${mazo.id})}">
                    <span th:text="${mazo.nombre}" class="texto"></span>
                </a>
                <span th:text="'Creado por ' + ${mazo.usuario.username}" class="texto"></span>
                <span th:text="'Arquetipo: ' + ${mazo.arquetipo}" class="texto"></span>
                <span th:text="'Publicado ' + ${mazo.tiempoTranscurrido}" class="texto"></span>
                <div th:if="${likedMazos.isEmpty() or !likedMazos.contains(mazo.id)}">
                    <a th:href="@{/mazos/{id}/like(id=${mazo.id})}">
                        <img th:src="@{/images/fav/fav_icon_white.svg}" alt="Arre demo, esto non furrula" width="35px" height="40px">
                    </a>
                </div>
                <div th:if="${likedMazos.contains(mazo.id)}">
                    <a th:href="@{/mazos/{id}/dislike(id=${mazo.id})}">
                        <img th:src="@{/images/fav/fav_icon_golden.svg}" alt="Arre demo, esto non furrula" width="35px" height="40px">
                    </a>
                </div>
                <div class="gridCartas">
                    <div th:each="carta : ${mazo.cartas}" th:data-src="${carta.imagen}" th:data-desc="${carta.descripcion}">
                        <img th:src="${carta.imagen}" alt="Arre demo, esto non furrula" class="imagen">
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>