<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:fragment="titulo">
        <title>Mazos de la Comunidad - Marvel Snap Mazos, Cartas y Variantes</title>
    </th:block>
    <th:block th:fragment="css">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/menu_mazos.css}">
    </th:block>
    <script th:fragment="js" th:src="@{/js/mazo.js}" defer></script>
</head>
<body>
    <main th:fragment="contenido" class="contenido">
        <section class="titulo">
            <p>Mazos publicados por la Comunidad</p>
        </section>
        <section class="gridMazos">
            <div th:each="mazo : ${listaMazos}" th:if="${mazo.publico}"  class="mazo">
                <a th:href="@{/mazos/{id}(id=${mazo.id})}">
                    <span th:text="${mazo.nombre}" class="texto"></span>
                </a>
                <span th:text="'Creado por ' + ${mazo.usuario}" class="texto"></span>
                <div th:if="${likedMazos.isEmpty() or !likedMazos.contains(mazo.id)}">
                    <a th:href="@{/mazos/{id}/like(id=${mazo.id})}">
                        <img th:src="@{/images/fav/fav_icon_white.svg}" alt="Arre demo, esto non furrula" width="35px" height="40px">
                    </a>
                </div>
                <div th:if="${likedMazos.contains(mazo.id)}">
                    <a th:href="@{/mazos/{id}/dislike(id=${mazo.id})}">
                        <img th:src="@{/images/fav/fav_icon_golden.svg}" alt="Arre demo, esto non furrula" width="35px" height="40px">
                    </a>
                </div>
                <div class="gridCartas">
                    <div th:each="carta : ${mazo.cartas}" th:data-src="${carta.imagen}" th:data-desc="${carta.descripcion}">
                        <img th:src="${carta.imagen}" alt="Arre demo, esto non furrula" class="imagen">
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>