<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:fragment="titulo">
        <title>Variantes de la Comunidad - Marvel Snap Mazos, Cartas y Variantes</title>
    </th:block>
    <th:block th:fragment="css">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/menu_variantes.css}">
    </th:block>
    <script th:fragment="js" th:src="@{/js/variantes.js}" defer></script>
</head>
<body>
    <main th:fragment="contenido">
        <section>
            <p class="titulo">Variantes creadas por la Comunidad</p>
            <div th:if="${param.exito}" class="exito">
                <span>Variante subida correctamente.</span>
            </div>
        </section>
        <section class="filtros">
            <div class="grid-filtros">
                <div class="filtro">
                    <label for="fecha" class="texto label">Ordenar por fecha:</label>
                    <select id="fecha" class="seleccion">
                        <option selected disabled>Seleccionar orden...</option>
                        <option value="asc">Más antigua primero</option>
                        <option value="desc">Más reciente primero</option>
                    </select>
                </div>
                <div class="filtro">
                    <label for="likes" class="texto label">ORDEN POR LIKES</label>
                    <select id="likes" class="seleccion">
                        <option selected disabled>Seleccionar orden...</option>
                        <option value="asc">Menos populares primero</option>
                        <option value="desc">Más populares primero</option>
                    </select>
                </div>
            </div>
        </section>
        <section class="grid-variantes">
            <div class="carta">
                <p class="subtitulo">Subir una variante</p>
                <a th:href="@{/variantes/upload}">
                    <img th:src="@{/images/icons/upload_icon.svg}" alt="Arre demo, esto non furrula" width="350px" height="450px">
                </a>
            </div>
            <div th:each="variante : ${listaVariantes}" th:data-fecha="${variante.fechaCreacion}" th:data-likes="${variante.likes.size()}" class="carta">
                <p th:text="${variante.nombre}" class="subtitulo"></p>
                <a th:href="@{/variantes/{id}(id=${variante.uuid})}">
                    <img th:src="${variante.imagen}" alt="Arre demo, esto non furrula" width="350px" height="450px" class="variante">
                </a>
                <div class="row gap">
                    <p th:text="'Creado por ' + ${variante.usuario.username}" class="texto"></p>
                    <div class="row">
                        <p th:text="${variante.likes.size()}" class="texto"></p>
                        <div th:if="${likedVariantes.contains(variante.uuid)}">
                            <a th:href="@{/variantes/{id}/dislike(id=${variante.uuid})}">
                                <img th:src="@{/images/icons/like_icon_red.svg}" alt="Arre demo, esto non furrula" width="35px" height="40px">
                            </a>
                        </div>
                        <div th:unless="${likedVariantes.contains(variante.uuid)}">
                            <a th:href="@{/variantes/{id}/like(id=${variante.uuid})}">
                                <img th:src="@{/images/icons/like_icon_white.svg}" alt="Arre demo, esto non furrula" width="35px" height="40px">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>