<!doctype html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Header</title>
</head>
<body>
    <header th:fragment="header" class="cabecera">
        <div id="div-logo">
            <a th:href="@{/}">
                <img th:src="@{/images/logo/snap_labs_small_logo_white.png}" alt="Logo blanco Snap Labs">
            </a>
        </div>
        <div>
            <nav>
                <ul>
                    <li class="desplegable">
                        <a class="desplegable-boton">
                            Mazos<i class="fa-solid fa-caret-down"></i>
                        </a>
                        <ul class="desplegable-contenido">
                            <li>
                                <a>Mazos Publicados</a>
                            </li>
                            <li>
                                <a th:href="@{/meta}">Mazos Meta</a>
                            </li>
                            <li>
                                <a>Laboratorio</a>
                            </li>
                        </ul>
                    </li>
                    <li class="desplegable">
                        <a class="desplegable-boton" th:href="@{/cartas}">
                            Cartas<i class="fa-solid fa-caret-down"></i>
                        </a>
                        <ul class="desplegable-contenido">
                            <li>
                                <a th:href="@{/cartas}">Lista de Cartas</a>
                            </li>
                            <li>
                                <a th:href="@{/cartas/Starter}">Iniciales</a>
                            </li>
                            <li>
                                <a th:href="@{/cartas/Recruit}">Reclutamiento</a>
                            </li>
                            <li>
                                <a th:href="@{/cartas/SeasonPass}">Pase de Batalla</a>
                            </li>
                            <li>
                                <a th:href="@{/cartas/Series0}">Serie 0</a>
                            </li>
                            <li>
                                <a th:href="@{/cartas/Series1}">Serie 1</a>
                            </li>
                            <li>
                                <a th:href="@{/cartas/Series2}">Serie 2</a>
                            </li>
                            <li>
                                <a th:href="@{/cartas/Series3}">Serie 3</a>
                            </li>
                            <li>
                                <a th:href="@{/cartas/Series4}">Serie 4</a>
                            </li>
                            <li>
                                <a th:href="@{/cartas/Series5}">Serie 5</a>
                            </li>
                        </ul>
                    </li>
                    <li class="desplegable">
                        <a class="desplegable-boton">
                            Comunidad<i class="fa-solid fa-caret-down"></i>
                        </a>
                        <ul class="desplegable-contenido">
                            <li>
                                <a>Variantes</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="div-login">
            <div sec:authorize="isAuthenticated()" class="perfil">
                <div>
                    <a th:href="@{/usuario/{id}(id=${id})}">
                        <img th:src="${foto}" alt="Arre demo, esto non furrula" class="fotoHeader">
                    </a>
                </div>
                <div>
                    <form th:action="@{/logout}" method="post" style="display: inline;">
                        <button type="submit" class="botonLogout">
                            <img th:src="@{/images/menu/logout.svg}" width="60px" height="60px" alt="Arre demo, esto non furrula">
                        </button>
                    </form>
                </div>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}">
                    <i class="fa-solid fa-door-open"></i>Acceder
                </a>
            </div>
        </div>
    </header>
</body>
</html>