/* Aplicando el grid a los apartados */
.secciones {
    display: grid;
    grid-template-areas:
        "mazos . meta"
        ". lab ."
        "variante . cartas";
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 1.25rem;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    font-size: 2rem;
}
/* Estilos comunes de los apartados */
.caja {
    border: 1px solid black;
    border-radius: 2.5%;
    padding: 2.5em 2.25em;
    color: #F5F1FB;
    position: relative;
    font-family: 'Ultimatum', Arial, sans-serif;
    font-style: italic;
    font-weight: 900;
}
/* Forzar colores enlace */
.caja a {
    color: #F5F1FB;
}
/* Estilos de cada apartado */
.caja1 {
    grid-area: mazos;
}
.caja1 li{
    background-image:
        linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%),
        image-set(
            url("/images/menu/portal_mazo.webp") type("image/webp"),
            url("/images/menu/portal_mazo.png") type("image/png")
        );
    background-size: cover;
    background-position: center;
}
.caja2 {
    grid-area: meta;
}
.caja2 li{
    background-image:
        linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%),
        image-set(
            url("/images/menu/portal_meta.webp") type("image/webp"),
            url("/images/menu/portal_meta.png") type("image/png")
        );
    background-size: cover;
    background-position: center;
}
.caja3 {
    grid-area: lab;
}
.caja3 li{
    background-image:
        linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%),
        image-set(
            url("/images/menu/portal_lab.webp") type("image/webp"),
            url("/images/menu/portal_lab.png") type("image/png")
        );
    background-size: cover;
    background-position: center;
}
.caja4 {
    grid-area: variante;
}
.caja4 li{
    background-image:
        linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%),
        image-set(
            url("/images/menu/portal_pincel.webp") type("image/webp"),
            url("images/menu/portal_pincel.png") type("image/png")
    );
    background-size: cover;
    background-position: center;
}
.caja5 {
    grid-area: cartas;
}
.caja5 li{
    background-image:
        linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%),
        image-set(
            url("/images/menu/portal_lista.webp") type("image/webp"),
            url("/images/menu/portal_lista.png") type("image/png")
        );
    background-size: cover;
    background-position: center;
}
/* Estilos responsive */
.margen-x {
    margin: 0 3rem;
}
@media screen and (max-width: 1709px) {
    .caja {
        padding: 2.5em 1.75em;
    }
}
@media screen and (max-width: 1614px) {
    .secciones {
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: none;
    }
    .caja1, .caja2, .caja3, .caja4, .caja5 {
        grid-area: auto;
    }
}
@media screen and (max-width: 1100px) {
    .secciones {
        grid-template-rows: repeat(5,1fr);
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: none;
    }
    .caja1, .caja2, .caja3, .caja4, .caja5 {
        grid-area: auto;
    }
}