/* Defino las fuentes */
@font-face {
    font-family: 'Edge of the Galaxy';
    font-style: normal;
    src:
        local("Edge of the Galaxy"),
        url("/fonts/EdgeOfTheGalaxyRegular.otf") format("opentype");
}
@font-face {
    font-family: 'Edge of the Galaxy Italic';
    font-style: bold;
    src:
        local("Edge of the Galaxy Italic"),
        url("/fonts/EdgeOfTheGalaxyItalic.otf") format("opentype");
}
@font-face {
    font-family: 'Edge of the Galaxy Poster Italic';
    font-style: bold;
    src:
        local("Edge of the Galaxy Poster Italic"),
        url("../fonts/EdgeOfTheGalaxyItalic.otf") format("opentype");
}
/* Ocupar todo el espacio en la ventana */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #0a002b;
}
/* Enviar el footer al fondo */
main {
    flex: 1;
}
/* Cambiar el cursor en los enlaces */
a {
    cursor: pointer;
    text-decoration: none;
}