/* Defino las fuentes */
@font-face {
    font-family: 'Edge of the Galaxy';
    font-style: normal;
    src:
        local("Edge of the Galaxy"),
        url("/fonts/EdgeOfTheGalaxyRegular.otf") format("opentype");
    font-display: swap;
}
@font-face {
    font-family: 'Edge of the Galaxy Italic';
    font-style: italic;
    src:
        local("Edge of the Galaxy Italic"),
        url("/fonts/EdgeOfTheGalaxyItalic.otf") format("opentype");
    font-display: swap;
}
@font-face {
    font-family: 'Edge of the Galaxy Poster Italic';
    font-style: oblique;
    src:
        local("Edge of the Galaxy Poster Italic"),
        url("../fonts/EdgeOfTheGalaxyPosterItalic.otf") format("opentype");
    font-display: swap;
}
@font-face {
    font-family: 'IBM Plex Sans Condensed Light';
    font-style: normal;
    src:
        local("IBM Plex Sans Condensed Light"),
        url("../fonts/IBMPlexSansCondensed-Light.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'IBM Plex Sans Condensed Regular';
    font-style: normal;
    src:
    local("IBM Plex Sans Condensed Regular"),
    url("../fonts/IBMPlexSansCondensed-Regular.ttf") format("truetype");
    font-display: swap;
}
/* Ocupar todo el espacio en la ventana */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #0a002b;
}
/* Enviar el footer al fondo */
main {
    flex: 1;
    margin-bottom: 1.5rem;
}
/* Cambiar el cursor en los enlaces */
a {
    cursor: pointer;
    text-decoration: none;
    color: #F5F1FB;
}
/* Estilos de los mensajes de error */
.error {
    color: #FFD700;
}
/* Estilos de los mensajes de error */
.exito {
    color: #4cff4c;
}