.registro {
    margin-bottom: 30px;
}
/* Estilos del titulo */
.titulo {
    font-size: 2rem;
}
/* Espaciar los campos */
.formulario {
    gap: 1rem;
    font-size: 1.25rem;
    border: 2px solid #BE6BBC;
    border-radius: 15px;
    padding: 15px 20px;
}
.foto {
    border: none;
}
/* Estilos del boton */
.boton {
    width: 100%;
    background-color: #643AC9;
    font-size: 1.5rem;
}
.boton:hover {
    background-color: #2B1B67;
}
/* Estilos del enlace */
.enlace {
    text-align: center;
    font-size: 1rem;
}
.enlace a:hover {
    color: #BE6BBC;
}